@using StorePromotion.Common.Models
@model Store[]
@using System.Web.Helpers;
@using GridMvc;


<div class="container">
    <h3 class="tittle-w3layouts h2 text-left text-primary pt-3">Welcome </h3>
    <div class="inner_sec">
        <div class="row border">
            <div class="col-md-12 border">
                <div class="col-md-4">Select Store</div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <script>
                        function GetCustomers() {
                            var storeid = $('#StoreId').val();
                            @*$("#StoreId1").val() = storeid;*@
                            var textcontrol = document.getElementById("StoreId1");
                            textcontrol.value = storeid;
                            $.ajax({
                                url: 'https://localhost:44303/api/Customer/GetCustomerWithStoreId',
                                type: 'GET',
                                data: { storeid: storeid },
                                success: function (result) {
                                    
                                    
                                    var tableCamp = $('#dtVerticalScrollExample tbody');
                                    $.each(result, function (i, item) {
                                        tableCamp.append('<tr><td align="center">' + item.cellNo + '</td></tr>');
                                    })
                                }
                                , error: function (result) {
                                    alert("err " + result.responseText);
                                }
                            })
                        }
                    </script>
                    <select class="form-control" name="StoreId" id="StoreId" onchange="GetCustomers();">
                        <option value="x">Select Store</option>;
                        @foreach (var store in Model)
                        {
                            <option value="@store.StoreId" >@store.StName</option>
                        }
                    </select>
                    
                </div>
            </div>
            <div class="col-md-12 border">
                <div class="col-md-4" id="grdCustomers">
                    @*Grid*@
                    <!--Table for customers-->
                    <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                           width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">
                                    Customers
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>
                                    Customers
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <!--Table for customers-->
                </div>
                <div class="col-md-6" id="grdCampaign">
                    <form id="frmsend" method="post" action="@Url.Action("Create","Promotions")">
                        <input type="text" id="StoreId1" name="StoreId1" />
                        <textarea id="txtMessag" name="txtMessag">
                        
                        </textarea>
                        <input type="submit" value="Send Campaign" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#dtVerticalScrollExample').DataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
        });
        $('.dataTables_length').addClass('bs-select');
    });
</script>