    <!-- Start Contact -->
<section class="container py-5">

    <h1 class="col-12 col-xl-8 h2 text-left text-primary pt-3">Store Owner</h1>
    <p class="col-12 col-xl-8 text-left text-muted pb-5 light-300">
        Please fill details to get register!
    </p>

    <div class="row pb-4">


        <!-- Start Contact Form -->
        <div class="col-lg-12 ">
            <form class="contact-form row" method="post" role="form" action="@Url.Action("Create", "StoreOwner")">

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="Fname" name="Fname" placeholder="First Name">
                        <label for="Fname light-300">First Name</label>
                    </div>
                </div><!-- End Input Name -->
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="Lname" name="Lname" placeholder="Last Name">
                        <label for="Lname light-300">Last Name</label>
                    </div>
                </div><!-- End Input Name -->
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="CellNo" name="CellNo" placeholder="CellNo">
                        <label for="CellNo light-300">Cell No.</label>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="Email" name="Email" placeholder="Email">
                        <label for="Email light-300">Email</label>
                    </div>
                </div><!-- End Input Email -->

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="UserId" name="UserId" placeholder="User Id">
                        <label for="UserId light-300">User Id</label>
                    </div>
                </div><!-- End Input Phone -->

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="Pwd" name="Pwd" placeholder="Pwd">
                        <label for="Pwd light-300">Password</label>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control form-control-lg light-300" id="CPwd" name="CPwd" placeholder="CPwd">
                        <label for="CPwd light-300">Confirm Password</label>
                    </div>
                </div>

                <div class="col-md-12 col-12 m-auto text-end">
                    <button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300">Save Info.</button>
                    @*<button type="submit" class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300" onclick="Register1();" >Save Info.</button>*@
                    @*<input class="btn btn-secondary rounded-pill px-md-5 px-4 py-2 radius-0 text-light light-300" type="submit" value="Submit" onclick="Register1();">*@
                </div>
                <script>
                    function Register1() {
                        var FName = $('#Fname').val();
                        var LName = $('#Lname').val();
                        var CellNo = $('#CellNo').val();
                        var Email1 = $('#Email').val();
                        var UserId = $('#UserId').val();
                        var Pwd1 = $('#Pwd').val();
                        var MyStoreOwner = {
                            FName: Fname,
                            LName: LName,
                            CellNo: CellNo,
                            Email: Email1,
                            UserId: UserId,
                            Pwd: Pwd1
                        }
                        $.ajax({
                            url: '/StoreOwner/Create',
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(MyStoreOwner)
                            , success: function (result) {
                                alert("Registered: ");
                            }
                            , error: function (result) {
                                alert("err " + result.responseText);
                            }
                        })
                    }
                </script>
            </form>
        </div>
        <!-- End Contact Form -->


    </div>
</section>
<!-- End Contact -->